logs
project/project
project/target
public/MidiOutput/*.mid
public/MidiOutput/*.xml
public/MusicXML/*.xml
public/MusicXML/*.mid
target/resolution-cache
target/scala-2.10
target/streams
target/universal/
!*.zip
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
