@(title: String)



@homeTemplate(title){
  <p class="navbar-text pull-right">
    <span class="label label-warning">Guest</span> 
    <a class="navbar-link" href = "@routes.Authentication.loginPage"><span class="glyphicon glyphicon-log-in"></span> Log In</a>
    <a class="navbar-link" href = "@routes.Authentication.signupPage"> Sign up</a>
  </p>

  
}{<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Note:</strong> With the guest account, the changes you make will only be preserved during your session. If you refresh the browser, your changes will be lost. Sign up for a free account to save changes permanently. 
  <br>
  <strong>Tip:</strong> After changing settings or songs, you must click "Generate Music" again for changes to take effect.
  <a data-dismiss="alert" aria-hidden="true">Close</a>
</div>}

<script src="@routes.Assets.at("javascripts/homeGuestVersion.js")" type="text/javascript"></script>
