@(title: String)(loginStatus: Html)(message: Html)


@template(title){
    <style>
            
            #rawText
            {
                font-family:"Courier New", monospace;
                width: 100%;
            }
            #renderedText
            {
              font-family:"Courier New", monospace;
              font-weight: bold;
              font-size: 15px;
            }
            #playbackPanel
            {
              background-color: #EEEED1;
              border-radius: 15px;
            }
            #toolsPanel
            {
              background-color: #EEE8AA;
              border-radius: 15px;
            }
            .slashchord 
            {
              color: gray;
              font-weight: normal;
            }
            #eq span 
            {
                height:120px; float:left; margin:15px
            }
            #midiplayer 
            {
                background-color: #eee;
            }
            #FontTest
            {
                position: absolute;
                visibility: hidden;
                height: auto;
                width: auto;
            }
            .modal .modal-dialog {
            /* new custom width */
            width: 70%;
            /* must be half of the width, minus scrollbar on the left (30px) */
            /*margin-left: -280px;*/
            }
    </style> 

    <body>
        <!-- Header -->
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">ChordTrane</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
              <li><a class = "navbar-link" id = "help" data-toggle="modal" data-target="#helpModal">Help</a></li>
              <li><a class = "navbar-link" id ="about" data-toggle="modal" data-target="#aboutModal">About</a></li>
              </ul>

              @loginStatus
            </div><!--/.nav-collapse -->
          </div>
        </div>


        <div class="row">
            <h1><select id="songDropdown"></select> 
            <a class="btn btn-success" id="save">Save <span class="glyphicon glyphicon-floppy-disk"></span></span></a>
            <a class="btn btn-default" id="new">New</a>
            <a class="btn btn-primary"id="generateMusic"><span class="glyphicon glyphicon-music"></span> Generate Music</a>

            <a class ="btn btn-info" id ="downloadMIDI" style="display:none;"><span class="glyphicon glyphicon-download"></span> Download Midi</a>

            <object id="midiplayer" type="audio/mid" data="midifile.mid" width="240" height="45" style="display:none;vertical-align: middle" BGCOLOR="#eeeeee" autohref="true">
            <!-- Autohref prevents clipping sound -->
              <param name="src" value="midifile.mid"/>
              <param name="autoplay" value="false"/>
              <param name="autoStart" value="0"/>
              <div class="alert alert-warning" style="font-size:20px">Your browser does not support embedded midi. Press "Download MIDI" to download the midi file to your computer. Your computer will likely have a music player capable of playing midi files, such as QuickTime or Windows Media Player. If not, try <a href="http://solmire.com/">solmire.com</a> which lets you convert midi files to mp3.</div>
            </object>


            </h1>

        </div>

        <div class = "row">
                <textarea id="rawText" rows="7"></textarea>
        </div>

        <div class = "row">
                <pre id="renderedText"></pre>
        </div>


         <div class="row">
         <!--
            <div class="col-md-6" id="playbackPanel">
                <h3>Playback</h3>
                <form role="form">
                    <div class="form-group">
                        <label for="styleSelect" >Style</label>
                        <select id="styleSelect"></select>
                    </div>
                    <div class="form-group">
                        <label for="bpm">Tempo (BPM)</label>
                        <input type="text" class="form-control" id="bpm" value="120">
                    </div>
                    <div class="form-group">
                        <label for="bpm">Repeats</label>
                        <input type="text" class="form-control" id="repeats" value="4">
                    </div>
                    
                    <a class="btn btn-default"id="generateMusic">Generate Music</a>
                    <a class="btn btn-success"id="play"><span class="glyphicon glyphicon-play"></span> Play</a>
                    <a class="btn btn-warning" id="pause"><span class="glyphicon glyphicon-pause"></span> Pause</a>
                    <a class="btn btn-danger" id="stop"><span class="glyphicon glyphicon-stop"></span> Stop</a>

                   
                    
                </form>
                <div id="eq">
                      <span>88</span>
                      <span>77</span>
                      <span>55</span>
                      <span>33</span>
                      <span>40</span>
                      <span>45</span>
                      <span>70</span>
                    </div>



            </div> -->



            <div class="col-md-12" id="toolsPanel">

                @message

                <h3>Settings</h3>
                 <form role="form">
                    <div class="form-group">
                        <label for="timeSig" >Time Signature</label>
                        <select id="timeSig">
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                        </select>
                    </div>




                    <div class="form-group">
                        <label for="currentKey" >Current Key</label>
                        <select id="currentKey">
                          <option value="C">C</option>
                          <option value="C#">C#</option>
                          <option value="Db">Db</option>
                          <option value="D">D</option>
                          <option value="Eb">Eb</option>
                          <option value="E">E</option>
                          <option value="F">F</option>
                          <option value="F#">F#</option>
                          <option value="G">G</option>
                          <option value="Ab">Ab</option>
                          <option value="A">A</option>
                          <option value="Bb">Bb</option>
                          <option value="B">B</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="destinationKey" >Transposed Key</label>
                        <select id="destinationKey">
                          <option value="C">C</option>
                          <option value="C#">C#</option>
                          <option value="Db">Db</option>
                          <option value="D">D</option>
                          <option value="Eb">Eb</option>
                          <option value="E">E</option>
                          <option value="F">F</option>
                          <option value="F#">F#</option>
                          <option value="G">G</option>
                          <option value="Ab">Ab</option>
                          <option value="A">A</option>
                          <option value="Bb">Bb</option>
                          <option value="B">B</option>
                        </select>
                        <label for="transposeOn" >Transpose On</label>
                        <input type="checkbox" id="transposeOn">
                    </div>
                    <div class="form-group">
                        <label for="romanNumeral" >Roman Numeral Analysis</label>
                        <input type="checkbox" id="romanNumeral">
                    </div>

                    <fieldset class="form-inline">
                      <a class="btn btn-default" id = "playbackSettings" data-toggle="modal" data-target="#playbackSettingsModal" style="vertical-align: middle"><span class="glyphicon glyphicon-cog"></span> Playback Algorithm Settings
                          </a>
                          <label for="bpm" >Tempo (BPM)</label>
                          <input type="text" class="input-mini" id="bpm" >
                          <label for="repeats">Repeats</label>
                          <input type="text" class="input-mini" id="repeats">
                          
                      </fieldset>

                      <br>


                    <!-- <a class="btn btn-info" id="exportText"><span class="glyphicon glyphicon-download" ></span> Export Text</a> -->
                    <a class="btn btn-info" id="exportMusicXML"><span class="glyphicon glyphicon-download"></span> Export MusicXML</a>

                    <br>
                    <br>

              




                    <div class="form-group">
                        <label for="title" >Title</label>
                        <input type="text" class="form-control" id="title">
                    </div>
                    <div class="form-group">
                        <label for="composer" >Composer</label>
                        <input type="text" class="form-control" id="composer">
                    </div>
                    <div class="form-group">
                        <label for="dateCreated" >Date</label>
                        <input type="text" class="form-control" id="dateCreated">
                    </div>

                    
                   
                </form>

                <a class="btn btn-danger" id="delete">Delete <span class="glyphicon glyphicon-trash"></span></a>

            </div>
        </div>

  

        <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Help</h4>
              </div>
              <div class="modal-body">
              <pre>

<h4><b>What it is</b></h4>
ChordTrane takes chord charts inputted as text and uses algorithms 
and patterns to emulate the playback of a jazz rhythm section. 
Type in the chords to your favorite jazz standards and play along!

<h4><b>Syntax</b></h4>
Type in chord charts as text

Ex:
| Cmaj7 Am7 | Dm7 G7 G7b9 |
| Em7 A7.4 | Dm7 G7|


ChordTrane will autoformat it to:

|Cmaj7 /     Am7   /     |Dm7   /     G7    G7b9  |
|Em7   /     /     A7    |Dm7   /     G7    /     |

-Specify measures with beginning and ending "|" character
-Separate chords in measures with spaces
-Chords will be placed on default beats
  -To override default, add ".beatNumber" to the end of the chord
  -"Cm7.2" will set Cm7 to the second beat of the measure

Chords
-Begin each chord with the root, ex: "G", "F#", "Ab"
-Add suffix after root, ex: "m7", "maj7", "dim"
-For slash chords, add "/rootName" after chord, ex: "G7/D", "Ab/Gb"

<h4><b>Playback</b></h4>
-Click "Generate Music"
-If your browser supports MIDI playback within the browser
  -A playback bar will be shown
  -If you want to download the MIDI file, press "Download MIDI"
  -You can open the MIDI file not only in music players, but music sequencers, and
   music notation programs
-If your browser does not support MIDI playback
  -Download the MIDI file.
  -Quicktime and Windows Media Player, as well as many other music players, can
   play midi files
  -If that doesn't work, try <a href = "http://www.solmire.com">solmire.com</a> which
   lets you upload midi files and convert them into mp3s. 
-Eachtime you generate -> different playback.
-Click "Generate Music" again if you want a new rendition or if you change songs

<h4><b>Tranpose</b></h4>
-Transpose to any key or create Roman Numeral chords

<h4><b>Export to MusicXML</b></h4>
-MusicXML is a common data format used by most major notation softwares, including:
  -Finale
  -Sibelius
  -Noteflight
  -Musescore
  -and many more...
-With click of a button, ChordTrane will create a MusicXML from your chord text
-Open up MusicXML in your notation software to have printable chord sheet

<h4><b>Future features</b></h4>
-More playback styles
-In browser playback
  -Set tempo
  -Adjust algorithm paramaters


              </pre>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">About</h4>
              </div>
              <div class="modal-body">
              <pre>

Thanks for using ChordTrane :)
Created by larryoatmeal
<a href="mailto:chordtrane@@gmail.com?Subject=Hello" target="_top">chordtrane@@gmail.com</a>

Special thanks to spidaman

              </pre>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



        <div class="modal fade" id="playbackSettingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Playback Algorithm Settings</h4>
              </div>
              <div class="modal-body">

                    <h2 class="text-success">Piano Settings</h2>

                    <div class="form-group">
                        <label for="title" >Min (0 - 127)</label>
                        <input type="text" class="form-control" id="pianoMin">
                    </div>
                    <div class="form-group">
                        <label for="composer" >Max (0 - 127)</label>
                        <input type="text" class="form-control" id="pianoMax">
                    </div>
                    <div class="form-group">
                        <label for="dateCreated" >Tessitura (Decimal > 0, up to 10)</label>
                        <input type="text" class="form-control" id="pianoStayInTessitura">
                    </div>
                    <div class="form-group">
                        <label for="dateCreated" >Connectivity (Decimal > 0, up to 10)</label>
                        <input type="text" class="form-control" id="pianoConnectivity">
                    </div>


                    <h2 class="text-success">Bass Settings</h2>

                    <div class="form-group">
                        <label for="title" >Min (0 - 127)</label>
                        <input type="text" class="form-control" id="bassMin">
                    </div>
                    <div class="form-group">
                        <label for="composer" >Max (0 - 127)</label>
                        <input type="text" class="form-control" id="bassMax">
                    </div>
                    <div class="form-group">
                        <label for="dateCreated" >Tessitura (Decimal > 0, up to 10)</label>
                        <input type="text" class="form-control" id="bassStayInTessitura">
                    </div>
                    <div class="form-group" style="display:none"> 
                    <!-- NOT ACTUALLY IMPLENTED YET, SO HIDE -->
                        <label for="dateCreated" >Connectivity (Decimal > 0, up to 10)</label>
                        <input type="text" class="form-control" id="bassConnectivity" value ="1.0">
                    </div>

                    <h2 class="text-info">Info</h2>
                    <ul>
                    <li>Min: The lowest note allowed. 60 corresponds to C4. <a href = "http://www.phys.unsw.edu.au/jw/notes.html" target="_blank">Midi Values to Notes</a></li>
                    <li>Max: The highest note allowed</li>
                    <li>Tessitura: How much of the given range should be used? Higher tessitura values mean more of the range of the instrument will be expressed. Lower tessitura values mean the instrument will tend to stay near the center of its range</li>
                    <li>Connectivity: The closeness of piano voicings. Greater connectivity means piano voicings will be closer together</li>
                    </ul>
        
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



    <!-- <iframe id="frame" style="display:none"></iframe> -->
    <!-- For downloading -->

    <div id = "FontTest"></div>

    </body>








}
